.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
causalDisco.Rproj
meta/
article/
archive/
notes/
R/tetrad/jdk.tar.gz
examples/TESTING.R

.Rproj.user
causalDisco*.tar.gz
causalDisco.Rcheck/
docker/
